{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if name %}
<h1>Hello {{ name }}</h1>
<img src="{{ url_for('static', filename='/img/nature.jpg') }}" width="600px" height="auto" alt="Nature" />
<p id="demo">This is stuff...</p>
{% else %}
<h1>What is your name?</h1>
<br />
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endif %}
{% endblock content %}
